body {
  font-family: "Roboto", sans-serif;
  background-color: lightgray;
}

[class*="col"] {
  background-color: white;
}

.navbar-brand {
  color: white;
}

.navbar {
  background-color: white;
  padding: 0px;
}

hr {
  border: none;
  height: 2px;
  color: #333;
  background-color: #333;
}

.col-md-6 {
  position: relative;
}

.text {
  position: absolute;
  font-size: 30px;
  color: white;
  width: calc((100%) - (30px));
  bottom: 20px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 0px;
    margin: 0px;
    flex-direction: column;
  }

  .navbar-brand {
    width: 100%;
  }

  .nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .col {
    padding: 0px;
  }
}
